body {
  margin: 0;
  padding: 0rem;
  padding-left: 20rem;
  background: url('../images/Panoro-696x385-1.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;

}
.converter-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
  }
  
  textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-family: monospace;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #218838;
  }
  